.dropdown-menu,.dropdown-toggle{
    min-width:110px;
}

.dropdown-menu>li>a{
  padding: 3px 0 3px 15px;
}

.nomargin {
    margin: 0;
}

.sidebar {
    top :53px;
    position: fixed;
    z-index: 1032;
    height: 100%;
    width: 210px;
    background-color: white;
    border:1px solid;
    border-color:#efefef;
}

.sidebar > .nav > li > a {
    color: #6f6f6f;
}

.brand {
    margin-bottom: 5px;
    padding: 5px 0 5px 20px;
}

.brand > a {
    text-decoration: none;
    color: #6f6f6f;
    font-size: 30px;
}

.copyright {
    width: inherit;
    padding: 2px;
    position: absolute;
    bottom: 0;
}

.unround {
    border-radius: 2px;
}

.sidebar-p-nav {
    background-color: white;
}

.sidebar-p-nav > li > a > i {
    margin-top: 3px;
    float:right;
}

.sidebar-p-nav > li > a {
    color: #6f6f6f;
}

.sidebar-p-nav > li > a:hover {
    background-color: #f1f1f1;
}

.sidebar-p-nav > li > a:visited {
    background-color: #f1f1f1;
}

.categories {
    cursor: pointer;
}

#collapse-categories {
    overflow-y: auto;
    position: fixed;
    z-index: 1031;
    height: 100%;
    width: 540px;
    top:53px;
    left: 209px;
    background-color: white;
    padding-top:10px;

    border: 1px solid;
    border-color: #efefef;
}

#collapse-categories > div {
    float: left;
    width: 50%;
}

#collapse-categories > div > ul > li > a {
    color: #6f6f6f;
}

#collapse-categories > li > a {
    color: #6f6f6f;
}

.custom-divider {
    margin:5px;
    border-color:#dfdfdf;
}
#collapse-account {
    background-color: #eee;
}

#collapse-account > li > a:hover {
    color: #4f4f4f;
}
#collapse-account > li > a{
    color: #6f6f6f;
    padding-left: 50px;
}

#collapse-logs {
    background-color: #eee;
}

#collapse-logs > li > a:hover {
    color: #4f4f4f;
}

#collapse-logs > li > a {
    padding-left: 50px;
    color: #6f6f6f;
}

.navbar-fixed-top {
    z-index: 1049;
}

.navbar {
    background-color: white;
}

.brand-icon {
    max-width:32px;
    margin-top:-7px;
}

.custom-active {
    background-color: white;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #6f6f6f;
}

.c-navbar-nav > li:hover {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #6f6f6f;
    background-color: #eee;
}

.contents {
    padding :50px 0 0 240px;
}

.contents > .container {
    padding-top:20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 1025px;
}

.app-feed-panel {
    border: none;
}

.app-feed-panel > .panel-heading {
    font-weight: bold;
    background-color: white;
    border: none;
}

.app-feed-heading > .category-name {
    text-decoration: none;
    color: black;
}

.app-feed-panel > .panel-body {

}

.app-card-del {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: #d14128;
    border-radius: 0;
    color:white;
}

.app-card {
    position: relative;
    display: inline-block;
    margin-top:7px;
    margin-right:7px;
    cursor: pointer;
    width: 150px;
    -webkit-box-shadow: 0 0 1px 1px #BFBFBF;
    box-shadow: 0 0 1px 1px #BFBFBF;
}

.app-card > a > img {
    border: none;
}

.app-card > a > img:hover {
    background-color: #ccc;
}

.app-card > p {
    padding: 5px 5px 0px 5px;
    margin: 0;
}

.app-card-link {
    color: black;
}

.app-card-link:hover {
    color: black;
}

.app-card > div {
    padding: 1px 5px 5px 5px;
}


.app-card-horizontal {
    position: relative;
    display: block;
    margin-right: 0;
    width: inherit;
    -webkit-box-shadow: 0 0 1px 1px #BFBFBF;
    box-shadow: 0 0 1px 1px #BFBFBF;
}

.app-card-horizontal > div > a{
    color: #6f6f6f;
}

.app-card-horizontal > a > img{
    width:140px;
    border: none;
}

.app-card-horizontal > a > img:hover{
    background-color: #ccc;
}

.app-detail-card {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 20px;
    float: left;
    -webkit-box-shadow: 0 0 1px 1px #BFBFBF;
    box-shadow: 0 0 1px 1px #BFBFBF;

    width:700px;
}

.similar-apps-container {
    display:inline-block;
    width: 265px;
}

.media-heading > span {
    font-weight: bold;
    font-size:30px;
}

.media-heading > small {
    margin-top:15px;
}

.detail {
    max-height: 120px;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

.overflow-toggler {
    position: absolute;
    right: 0;
    bottom: 0;
}

.let-overflow {
    max-height: none;
    overflow: visible;
}
.dev-cat-plat > a{
    text-decoration: none;
    color: #6f6f6f;
    margin-right:7px;
}

.stars {
    position: absolute;
    bottom: 8px;
    left: 0;
    color:#6f6f6f;
}

.feedbacks {
    position: relative;
}



.feedback {
    display: inline-block;
    margin-right: 17px;
    max-width: 200px;
    max-height: 100px;
    overflow: hidden;
    background-color: #eee;
    padding: 10px;
}

.feedback .feedback-body {
    color: #6f6f6f;
}

.report {
    position:absolute;
    top:0;
    right: 0;
}

.feedback-pagination {
    margin: 0 auto;
    width:36%;
}

.custom-dialog {
    z-index: 1033;
    position:fixed;
    top:50px;
    left:550px;
    background-color: white;
    max-height: 600px;
    height: 600px;
    width:300px;
    padding: 10px;
    -webkit-box-shadow: 0 0 1px 1px #BFBFBF;
    box-shadow: 0 0 1px 1px #BFBFBF;
}

.custom-dialog-filter {
    z-index: 1032;
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    /*background-color: #000;*/
    opacity: 0.85;
}

.replys {
    max-height: 415px;
    overflow-y: auto;
}

.reply {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 3px;
    color: #6f6f6f;
}

.custom-dialog-md {
    left: 500px;
    width:400px;
    height: 200px;
}

.rate-dropup > li > a{
    padding: 0 0 0 12px;
}

.notifications {
    overflow-y: auto;
    position: fixed;
    z-index: 1031;
    height: 100%;
    width: 240px;
    top:0;
    right: 0;
    background-color: #fafafa;

    -webkit-box-shadow: 0 0 1px 1px #BFBFBF;
    box-shadow: 0 0 1px 1px #BFBFBF;
}

.notifications > p {
    padding:10px;
    color: #6f6f6f;
    font-weight: bold;
}

.notifications > p > a {
    color: #6f6f6f;
}

.stats {
    min-width: 750px;
    display: inline-block;
    padding: 5px;
}

.clear {
    clear: both;
}

.navbar-brand {
    width:209px;
}

.success-bar {
    margin:0;
    background-color:#a5ce78;
    color:white;
    height:70px;
    width:200px;

    z-index: 1051;
    position: fixed;
    top:55px;
    right: 5px;
}

.nav > li > a {
    color: black;
    border-radius: 2px;
}

.nav > li.active > a, .nav > li.active > a:hover {
    color: white;
    background-color: #616161;;
}

.table > thead > tr {
    background-color: #e1e1e1;
}

.table > thead > tr > th, .table > tbody > tr > td, .table > tbody > tr > td > a{
    color : #3f3f3f;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-style: none;
}
